doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title #{title}
    link(rel='icon', type='image/x-icon', href='/favicon.ico')
    meta(property='og:title', content=title)
    meta(property='og:image', content='https://wincent.com/assets/static/logo.png')
    if (description)
      meta(property='og:description', content=description)
    if (production)
      link(rel='stylesheet', href=styles)
    if (canonical)
      link(rel='canonical', href=canonical)
      meta(property='og:url', content=canonical)
    if (alternate)
      link(rel='alternate' type='application/rss+xml' href=alternate)
    if (home)
      link(rel='home' type='application/rss+xml' href=home)
  body
    #relay-root !{pageContent}
    script.
      var MasochistCache = !{cache};
    script(src=bundle)
